Package: libsvn-doc
Source: subversion
Version: 1.11.0-1
Architecture: all
Maintainer: James McCoy <jamessan@debian.org>
Installed-Size: 24223
Suggests: libsvn-dev
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://subversion.apache.org/
Description: Developer documentation for libsvn
 This package contains development (API) documentation for libsvn1, the
 Apache Subversion libraries.  See the 'libsvn1' package for more information.
