Package: libsvn-java
Source: subversion
Version: 1.11.0-1
Architecture: amd64
Maintainer: James McCoy <jamessan@debian.org>
Installed-Size: 1551
Depends: libsvn1 (= 1.11.0-1), intel-comp-ps-ss-bec-19.0.1-144, libapr1 (>= 1.5.0), libc6 (>= 2.4), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2)
Section: java
Priority: optional
Homepage: http://subversion.apache.org/
Description: Java bindings for Apache Subversion
 This is a set of Java classes which provide the functionality of
 libsvn, the Apache Subversion libraries.  It is useful if you want to,
 for example, write a Java class that manipulates a Subversion repository
 or working copy.  See the 'subversion' package for more information.
