Package: libapache2-mod-svn
Source: subversion
Version: 1.11.0-1
Architecture: amd64
Maintainer: James McCoy <jamessan@debian.org>
Installed-Size: 496
Depends: libsvn1 (= 1.11.0-1), apache2-api-20120211, apache2-bin (>= 2.4.16), intel-comp-ps-ss-bec-19.0.1-144, libc6 (>= 2.4), libgcc1 (>= 1:3.0)
Suggests: db5.3-util
Section: httpd
Priority: optional
Homepage: http://subversion.apache.org/
Description: Apache Subversion server modules for Apache httpd
 This package provides the mod_dav_svn and mod_authz_svn modules for
 the Apache 2.4 web server.  These modules provide Apache Subversion's WebDAV
 server backend, to serve repositories over the http and https
 protocols.  See the 'subversion' package for more information.
