Package: python-subversion
Source: subversion
Version: 1.11.0-1
Architecture: amd64
Maintainer: James McCoy <jamessan@debian.org>
Installed-Size: 5033
Depends: python (<< 2.8), python (>= 2.7~), python:any (<< 2.8), python:any (>= 2.7~), intel-comp-ps-ss-bec-19.0.1-144, libapr1 (>= 1.2.7), libc6 (>= 2.14), libgcc1 (>= 1:3.0), libsvn1 (>= 1.11.0-1)
Provides: python2.7-subversion
Section: python
Priority: optional
Homepage: http://subversion.apache.org/
Description: Python bindings for Apache Subversion
 This is a set of Python interfaces to libsvn, the Apache Subversion
 libraries.  It is useful if you want to, for example, write a Python
 script that manipulates a Subversion repository or working copy.  See
 the 'subversion' package for more information.
