Package: ruby-svn
Source: subversion
Version: 1.11.0-1
Architecture: amd64
Maintainer: James McCoy <jamessan@debian.org>
Installed-Size: 2841
Depends: ruby, intel-comp-ps-ss-bec-19.0.1-144, libapr1 (>= 1.3.2), libc6 (>= 2.14), libgcc1 (>= 1:3.0), libruby2.5 (>= 2.5.0~preview1), libsvn1 (>= 1.11.0-1)
Section: ruby
Priority: optional
Multi-Arch: same
Homepage: http://subversion.apache.org/
Description: Ruby bindings for Apache Subversion
 This is a set of Ruby interfaces to libsvn, the Apache Subversion libraries.
 It is useful if you want to, for example, write a Ruby script that
 manipulates a Subversion repository or working copy.  See the
 'subversion' package for more information.
