Package: libsvn-dev
Source: subversion
Version: 1.11.0-1
Architecture: amd64
Maintainer: James McCoy <jamessan@debian.org>
Installed-Size: 143360
Depends: libapr1-dev, libaprutil1-dev, libsvn1 (= 1.11.0-1)
Suggests: libserf-dev, libsvn-doc, zlib1g-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://subversion.apache.org/
Description: Development files for Apache Subversion libraries
 This package contains the symlinks, headers, and object files needed
 to compile and link programs which use libsvn1, the Apache Subversion
 libraries.  This package is needed only in order to compile software
 that uses libsvn1.
